<%- include("../header.ejs")  %>

<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="dash-left">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a href="/admin/nishant/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                                <i class="fas fa-tachometer-alt fa-fw me-3" style="color: blue;"></i><span class="text-danger">DASHBOARD</span>
                            </a>
                            <a href="/admin/createblog" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE BLOGS</span>
                            </a>
                            <a href="/admin/displayblog" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY BLOGS</span>
                            </a>
                            <a href="/admin/createcategory" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE CATEGORY</span>
                            </a>
                            <a href="/admin/categorydisplay" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CATEGORY</span>
                            </a>
                            <a href="/curd/create" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE CURD</span>
                            </a>
                            <a href="/curd/display" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CURD</span>
                            </a>
                            <a href="/admin/contactdisplay" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CONTACTS</span>
                            </a>
                            <a href="/logout" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-sharp fa-solid fa-right-from-bracket"></i><span style="padding-left: 20px;">LOGOUT</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="login-box">
                    <h1>Add Student</h1>
                    <form action="/curd/insert" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div>         
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<%- include("../footer.ejs")  %>

