<%- include('./header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left" style="background-color: #a5d541;
                        margin-bottom: 5px;">
                        <ul style="outline-style: groove;">
                            <li class="active"><a href="/admin/dashboard">DASHBOARD</a></li>
                            <li><a href="/admin/createblog">CREATE BLOGS</a></li>
                            <li><a href="/admin/displayblog">DISPLAY BLOGS</a></li>
                            <li><a href="/curd/create">CREATE CURD</a></li>
                            <li><a href="/curd/display">DISPLAY CURD</a></li>
                            <li><a href="/admin/displaycontact">CONTACTS</a></li>
                            <li><a href="/about">ABOUT</a></li>
                            <li><a href="/logout">LOGOUT</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <h1 class="text-info">CURD DASHBOARD</h1><br>
                        <p class="text-dark"><b>CRUD (Create, Read, Update, Delete) operations allow you to work with the data stored in MongoDB. The CRUD operation documentation is categorized in two sections: Read Operations find and return documents stored within your MongoDB database. Write Operations insert, modify, or delete documents in your MongoDB database.</b></p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./footer.ejs') %>