<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="422133166900-q5acoad38k27fc945d23e3auaqd14nno.apps.googleusercontent.com">
  <link rel="icon" href="/favicon.ico">


  <title></title>
   <!-- Google Web Fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

   <!-- Font Awesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
   <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

 

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #61c542; height: 100px !important;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo4.png" alt="Angular Project" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="color: white !important;;font-size: x-large;font-family: fantasy;margin-left: 70px;">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="letter-spacing: 1px;">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="letter-spacing: 1px;">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="letter-spacing: 1px;">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog" style="letter-spacing: 1px;">BLOGS</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="color: white !important;font-size: x-large;font-family: fantasy;">
          <li class="nav-item">
            <a href="/login" class="nav-link" style="letter-spacing: 1px;">LOGIN</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>